@font-face {
  font-family: "iconfont"; /* Project id 3595308 */
  src: url('iconfont.woff2?t=1660732031701') format('woff2'),
       url('iconfont.woff?t=1660732031701') format('woff'),
       url('iconfont.ttf?t=1660732031701') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-huoban:before {
  content: "\e601";
}

.icon-icon-wangluo:before {
  content: "\e602";
}

.icon-icon-fangwu:before {
  content: "\e603";
}

.icon-icon-shouqi:before {
  content: "\e604";
}

.icon-icon-youxiang:before {
  content: "\e607";
}

.icon-icon-wenjian:before {
  content: "\e608";
}

.icon-icon-shaixuan:before {
  content: "\e609";
}

.icon-icon-lianjie:before {
  content: "\e60a";
}

.icon-icon-tupian:before {
  content: "\e60b";
}

.icon-icon-shoucang:before {
  content: "\e60c";
}

.icon-icon-huodong:before {
  content: "\e60d";
}

.icon-icon-gonggao:before {
  content: "\e60e";
}

.icon-icon-shijian:before {
  content: "\e60f";
}

.icon-icon-guanli:before {
  content: "\e610";
}

.icon-icon-xiangmu:before {
  content: "\e611";
}

.icon-icon-feizhi:before {
  content: "\e612";
}

.icon-icon-feichu:before {
  content: "\e613";
}

.icon-icon-tubiao:before {
  content: "\e614";
}

.icon-icon-shujuanquan:before {
  content: "\e615";
}

.icon-icon-dingwei:before {
  content: "\e616";
}

.icon-icon-wenjian2:before {
  content: "\e617";
}

.icon-icon-shezhi:before {
  content: "\e618";
}

.icon-icon-shouji:before {
  content: "\e619";
}

.icon-icon-yingyong:before {
  content: "\e61a";
}

.icon-icon-yinhangka:before {
  content: "\e61b";
}

.icon-icon-qianbao:before {
  content: "\e605";
}

